{% extends "base.html" %}

{% block content %}
<h2>Add Quiz</h2>

<form method="post">
    <input type="text" name="question" placeholder="Question"><br><br>

    <input type="text" name="option1" placeholder="Option 1"><br><br>
    <input type="text" name="option2" placeholder="Option 2"><br><br>
    <input type="text" name="option3" placeholder="Option 3"><br><br>
    <input type="text" name="option4" placeholder="Option 4"><br><br>

    <input type="text" name="answer" placeholder="Correct answer"><br><br>

    <button type="submit">Save Quiz</button>
</form>
{% endblock %}